* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center {
    padding: 0px 250px 0px 250px;
}

.scroll {
    display: flex;
    align-items: center;
    padding: 20px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
}

.hero-container {
    background-image: url("/assets/hero-man.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

nav {
    padding: 0px 250px 0px 250px;;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0; 
}

.logo img {
    height: 80%;
    width: 80%;
}

nav .link {
    flex:1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

nav .link a {
    text-decoration: none;
    color: white;
    margin-left: 2em;
    transition: color 0.3s ease;
}

.link a:not(.nav-btn):hover {
    color: #F79A01;
}

.nav-btn {
    background-color: #F79A01;
    color: white;
    border-radius: 5px;
    padding: 3px 15px;
}

.nav-btn:hover {
    color: #F79A01 !important;
    background-color: #F1F8FF;
}

.brand {
    background-color: #325490;
    display: inline-block;
    padding: 3px 13px;
    border-radius: 5px;
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
}

h1 {
    font-size: 4em;
    display: block;
    white-space: pre-line;
    line-height: 1.2;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px black;
}

.hero-article {
    padding-top: 120px;
}

.hero-article .explanation {
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
    padding: 5px 10px;
}

.signUp-btn {
    font-size: 1.1rem;
    background-color: #325490;
    color: white;
    padding: 5px 15px;
    margin-left: 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
    margin-bottom: 50px;
    margin-right: 15px;
}

.signUp-btn:hover {
    background-color: white;
    color: #325490;
}

.details-btn {
    font-size: 1.1rem;
    padding: 5px 15px;
    border-radius: 3px;
    margin-left: 20px;
    border-style: groove;
    border-width: 1.5px;
    border-color: white;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

.statistics-container {
    background-color: #F1F8FF;
}

.statistic-info {
    width: 200px;
    height: 90px;
    background-color: white;
    display: inline-block;
    margin: 20px 0px;
    padding: 15px 30px;
    text-align: center;
}

.statistic-value {
    color: #325490;
}

.statistic-card {
    display: flex;
    justify-content: space-between;
}

.background-backslash{
    position: relative;
}

.background-backslash::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #F6F6F6;
    clip-path: polygon(37% 0, 100% 0, 100% 100%, 45% 100%);
    z-index: -1; 
}

.classes-intro{
    text-align: center;  
}

.classes-intro h2 {
    color:#325490;
    font-size:30px;
    padding-top:30px;
}

.classes-intro p:first-of-type{
    border-radius: 5px;
    background-color: #F79A01;   
    display: inline-block;
    height: 6px;
    width: 60px;   
}

.classes-intro .explanation{    
    padding: 30px 250px;
}

.features{
    display: flex;
    justify-content: space-between;
    margin:0 70px;
    text-align: center;
}

.features button {
    background-color: #325490;
    color: white;
    padding: 7px 20px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;  
}

.features-btn-active{
    background-color: #F79A01 !important;
    box-shadow: 1px 1px 10px rgba(247,154,1,3);
    position: relative;

}

.features-btn-active::before{
    content: "";
    position: absolute;
    bottom: -10px;  
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px 10px 0 10px; 
    border-style: solid;
    border-color: #F79A01 transparent transparent transparent;
}

.classes-content{
    display: flex;
    padding :30px 30px;
    justify-content: space-between;  
}

.classes-content-article{
   padding-right:200px;
}

.classes-content-figure {
    display: flex;
}

.classes-content-figure img {
    width: 390px;
    height: 260px;
    /* width: 100%;
    max-width: 1000px;
    padding-top:60px; */
    margin-top:60px;
}







.bmi-section {
    /* padding: 0px 225px 0px 225px; */
    display: flex;
    margin-top: 30px;
    justify-content:space-between;
    font-size: 0.8rem;
}



.bmi-article {
    max-width: 400px;
    flex: 1;
    
    /* width: 48%; */

}

.bmi-article h2 {
    margin-bottom: 20px;
    color: #325490;
}

.bmi-article p {
    white-space: pre-line;
}

.bmi-calculator {
    margin-top: 20px;
    max-width: 350px;
    justify-content: center;
    display: flex;
    
}

.bmi-calculator #cm {
    margin-right:10px ;
}
.bmi-calculator #kg {
    margin-right:10px ;
    margin-left:10px ;
}

.bmi-calculator input {
    width: 110px;
}
.bmi-figure {
    max-width: 400px;
    flex: 1;
    /* margin-left: 50px; */
    text-align: center;
}
.bmi-figure img {
    width: 100%;
}

.ref-line {
    width: 325px;
    height: 1px; /* Çizginin yüksekliği */
    background-color: #000; /* Çizgi rengi */
    margin-left: 35px;
}